
@{
    Layout = "~/Views/Shared/_Notes.cshtml";
}

    <!--FAQ Page-->
    <div id="userpro">
        <div class="content-box-md">
            <div class="container-up">
                <div class="row">
                    <div class="col-md-12" class="text-center">

                        <h1>Frequently Asked Questions</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-faq">
        <!--General Questions-->
        <h3>General Questions</h3>
        <div class="row">
            <div class="col-md-12">

                <button class="accordion"><span>What is Marketplace-Notes?</span></button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="accordion"><span>What do the University say?</span></button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="accordion"><span>Is this legal?</span></button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <!--Uploaders-->
        <div class="faq1">
            <h3>Uploaders</h3>
            <div class="row">
                <div class="col-md-12">

                    <button class="accordion"><span>What can't I sell?</span></button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion"><span>What notes can I sell?</span></button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Downloaders-->

        <div class="faq1">
            <h3>Downloaders</h3>
            <div class="row">
                <div class="col-md-12">

                    <button class="accordion"><span>How do I buy notes?</span></button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion"><span>Can I edit the notes I purchased?</span></button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Home Page Ends-->