<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title NotesMarketPlace</title>
    <!-- important meta tags-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!--Bootstrap CSS-->
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!--Fontawesome-->
    <link href="~/Content/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--Responsive CSS-->
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <!--Custom CSS-->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!--Favicon-->
    <link href="~/Content/images/home/favicon.ico" rel="shortcut icon" />
    
</head>
<body>

    @RenderBody()

    

    <!--JQuery-->
    <script src="~/Scripts/js/jquery-min.js"></script>
    @*<script src="js/jquery-min.js"></script>*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <!--Bootstrap JS-->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>
    @*<script src="js/bootstrap/bootstrap.min.js"></script>*@
    <!--Custom JS-->
    @*<script src="js/script.js"></script>*@
    <script src="~/Scripts/js/script.js"></script>
</body>
</html>
