
@{
    Layout = "~/Views/Shared/_Notes.cshtml";
}


    <!--My Rejected Notes-->

    <div class="container-ds02">
        <div class="mydownloads">
            <div class="row">
                <div class="col-md-6">
                    <h3>My Rejected Notes</h3>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="search-ds" placeholder="&#xf002;  Search">

                </div>
                <div class="col-md-2">
                    <button type="button" class="form-control" id="search-ds01">SEARCH</button>
                </div>
            </div>

            <table class="table border">
                <thead>
                    <tr class="table11 " style="height: 75px;">
                        <th scope="col" style="vertical-align: middle;text-align: center;">SR NO.</th>
                        <th scope="col" style="vertical-align: middle;">NOTE TITLE</th>
                        <th scope="col" style="vertical-align: middle;">CATEGORY</th>
                        <th scope="col" style="vertical-align: middle;">REMARKS</th>
                        <th scope="col" style="vertical-align: middle;">CLONE</th>
                        <th scope="col" style="vertical-align: middle;"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table2">
                        <td style="vertical-align: middle;text-align: center;">1</td>
                        <td style="color: #6255a5; vertical-align: middle;">Data Science</td>
                        <td style="vertical-align: middle;">Science</td>
                        <td style="vertical-align: middle;">Lorem Ipsum is simply dummy text</td>
                        <td style="color: #6255a5; vertical-align: middle;">Clone</td>
                        <td style="vertical-align: middle;">
                            <div class="dropdown">
                                <img src="images/My Download/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="table2">
                        <td style="vertical-align: middle;text-align: center;">2</td>
                        <td style="color: #6255a5; vertical-align: middle;">Accounts</td>
                        <td style="vertical-align: middle;">Commerce</td>
                        <td style="vertical-align: middle;">Lorem Ipsum is simply dummy text</td>
                        <td style="color: #6255a5; vertical-align: middle;">Clone</td>
                        <td style="vertical-align: middle;">
                            <div class="dropdown">
                                <img src="images/My Download/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                    <tr class="table2">
                        <td style="vertical-align: middle;text-align: center;">3</td>
                        <td style="color: #6255a5; vertical-align: middle;">Social Students</td>
                        <td style="vertical-align: middle;">social</td>
                        <td style="vertical-align: middle;">Lorem Ipsum is simply dummy text</td>
                        <td style="color: #6255a5; vertical-align: middle;">Clone</td>
                        <td style="vertical-align: middle;">
                            <div class="dropdown">
                                <img src="images/My Download/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table2">
                        <td style="vertical-align: middle;text-align: center;">4</td>
                        <td style="color: #6255a5; vertical-align: middle;">AI</td>
                        <td style="vertical-align: middle;">IT</td>
                        <td style="vertical-align: middle;">Lorem Ipsum is simply dummy text</td>
                        <td style="color: #6255a5; vertical-align: middle;">Clone</td>
                        <td style="vertical-align: middle;">
                            <div class="dropdown">
                                <img src="images/My Download/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table2">
                        <td style="vertical-align: middle;text-align: center;">5</td>
                        <td style="color: #6255a5; vertical-align: middle;">Lorem ipsum </td>
                        <td style="vertical-align: middle;">Lorem</td>
                        <td style="vertical-align: middle;">Lorem Ipsum is simply dummy text</td>
                        <td style="color: #6255a5; vertical-align: middle;">Clone</td>
                        <td style="vertical-align: middle;">
                            <div class="dropdown">
                                <img src="images/My Download/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table2">
                        <td style="vertical-align: middle;text-align: center;">6</td>
                        <td style="color: #6255a5; vertical-align: middle;">Data Science</td>
                        <td style="vertical-align: middle;">Science</td>
                        <td style="vertical-align: middle;">Lorem Ipsum is simply dummy text</td>
                        <td style="color: #6255a5; vertical-align: middle;">Clone</td>
                        <td style="vertical-align: middle;">
                            <div class="dropdown">
                                <img src="images/My Download/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table2">
                        <td style="vertical-align: middle;text-align: center;">7</td>
                        <td style="color: #6255a5; vertical-align: middle;">Accounts</td>
                        <td style="vertical-align: middle;">Commerce</td>
                        <td style="vertical-align: middle;">Lorem Ipsum is simply dummy text</td>
                        <td style="color: #6255a5; vertical-align: middle;">Clone</td>
                        <td style="vertical-align: middle;">
                            <div class="dropdown">
                                <img src="images/My Download/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>
                                </div>
                            </div>
                        </td>


                    </tr>
                    <tr class="table2">
                        <td style="vertical-align: middle;text-align: center;">8</td>
                        <td style="color: #6255a5; vertical-align: middle;">Social Students</td>
                        <td style="vertical-align: middle;">social</td>
                        <td style="vertical-align: middle;">Lorem Ipsum is simply dummy text</td>
                        <td style="color: #6255a5; vertical-align: middle;">Clone</td>
                        <td style="vertical-align: middle;">
                            <div class="dropdown">
                                <img src="images/My Download/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table2">
                        <td style="vertical-align: middle;text-align: center;">9</td>
                        <td style="color: #6255a5; vertical-align: middle;">AI</td>
                        <td style="vertical-align: middle;">IT</td>
                        <td style="vertical-align: middle;">Lorem Ipsum is simply dummy text</td>
                        <td style="color: #6255a5; vertical-align: middle;">Clone</td>
                        <td style="vertical-align: middle;">
                            <div class="dropdown">
                                <img src="images/My Download/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                    <tr class="table2">
                        <td style="vertical-align: middle;text-align: center;">10</td>
                        <td style="color: #6255a5; vertical-align: middle;">Lorem ipsum </td>
                        <td style="vertical-align: middle;">Lorem</td>
                        <td style="vertical-align: middle;">Lorem Ipsum is simply dummy text</td>
                        <td style="color: #6255a5; vertical-align: middle;">Clone</td>
                        <td style="vertical-align: middle;">
                            <div class="dropdown">
                                <img src="images/My Download/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>
                                </div>
                            </div>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>


    <!--Pagination-->
    <div class="text-center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link langle" href="#" aria-label="Previous">
                    <span aria-hidden="true" class="fa fa-angle-left"></span>
                </a>
            </li>
            <li class="page-item"><a class="page-link page-item1" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>

            <li class="page-item">
                <a class="page-link rangle" href="#" aria-label="Next">
                    <span aria-hidden="true" class="fa fa-angle-right"></span>
                </a>
            </li>
        </ul>
    </div>
    <!--My Rejected Notes End-->
    